
<h1>Create an article <%= @name %></h1>

<%= form_with scope: :article, url: root_path , method: 'get',local: true do |form| %>
  <p class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title, class: "form-control" %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: "form-control" %>
  </p>
 
  <p>
    <%= form.submit :button, class: "btn btn-outline-success float-right", value: 'submit' %>
  </p>
<% end %>